@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

.HomePage {

}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}

.total-container{
  position: absolute;
  left: 38%;
  top: 8%;
}

.watchlist-container{
  position:absolute;
  top: 73%;
  .watchlist-data{
    border: 1px solid white;
  }
}

#symbol-search {
  text-transform: uppercase;
  background-color:gray;
  color:white;
  font-weight: bolder;
  font-style: italic;
}

ul {
  display: inline-block;
  
  border: 1px solid black;
  background-color: teal;
  color: white;
  font-style: italic;
  li{
    display: inline-block;
    width: 75px;
    color: white;
    text-align: center;
  }
  button{
    height: fit-content;
    width: fit-content;
  }
}

#ticker-update-input {
  visibility: hidden;
}

#ticker-update-label {
  visibility: hidden;
}

#ticker-update-button {
  visibility: hidden;
}

/* Stock News Page */
.stock-news-headers{
  span{
    text-transform: uppercase;
  }
}

.article-image{
  position:relative;
  img {
    width: 15%;
    height: 15%;
    margin-bottom: 4%;

  }
}












